.profile{
    background-color: transparent;
        background: url(../../../public/Images/top_corner.png) ,#efefef;
        background-repeat: no-repeat;
        border-top: 4px solid #00ace4 !important;
        width: 100%;
        max-width: 100%;
        float: left;
        background-position: -28px top;
}
